:root{
  --box-original-size: 25px;
}


@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

body{
  text-align: center;
  font-family: "Ubuntu Sans Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
