h1{
  text-align: center !important;
  margin: auto;
}

main{
    height: 100vh;
}

header{
    height: 80px;
    border-bottom: 2px solid black;
}

.container_main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.container{
  position: absolute;
  display: block;
  text-align: center;
  margin: auto;
  top: 80px;
  width: auto;
  height: 100vh;
  overflow: hidden;
}

.container > div{
  display: inline-flex;
  font-size: 14px;
  justify-content: center;
  text-align: center;
  width: 170px;

}

span{
    margin: 5px;
    /* transition: 200ms ease-in-out; */
    opacity: 0.5;
}

.sign_up{
  position: fixed;
  text-align: center;
  width: 500px;
  height: 500px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: gray 5px 5px 12px;

}


@media screen and (max-width: 1020px) {
  #words{
    display: none;
  }
}