body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.article-crad{
    color: white;
    width: 280px;
    height: 500px;
    background-color: #000;
    margin: 10px;
}

.card-link{
    width: 100%;
    overflow: hidden;
    height: 100%;
    margin: 0;
    text-decoration: none;
    display: inline-block;
    min-height: 500px;
}

.card-link > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.card-title{
    position: sticky;
    text-align: left;
    font-size: 28px;
    color: white;
    height: 65px;
    margin-top: -240px;
    margin-left: 15px;
    z-index: 10;
    margin-left: 25px;
}

.card-description{
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    font-size: 18px;
    margin-top: 10px;
    height: 144px;
    color: white;
    overflow: hidden;
    z-index: 100;
    text-align: left;
    margin-left: 25px;
    width: 250px;
}

.card-shadow{
    height: 500px;
    position: relative;
    margin-top: -483px;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(223,223,224,0) 65%, rgba(232,232,232,0) 78%, rgba(0,0,0,0.4360337885154062) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(223,223,224,0) 65%, rgba(232,232,232,0) 78%, rgba(0,0,0,0.4360337885154062) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(223,223,224,0) 65%, rgba(232,232,232,0) 78%, rgba(0,0,0,0.4360337885154062) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    z-index: 0;
}

.card-raw{
    display: inline-block;
    width: fit-content;
    display: none;
}

.card-raw:nth-child(2n-1){
    margin-top: 50px;
}

.card-header{
    display: flex;
    width: inherit;
    justify-content: space-around;
    position: absolute;
    margin-top: 10px;
    z-index: 1000;
}

.author_account_circle > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.btn-style {
    display: block;
    text-align: center;
    height: 30px;
    width: 38px;
    line-height: 30px;
    padding: 0 11px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all .1s ease-in-out;
    user-select: none;
    white-space: nowrap;
}

.btn-theme {
    background-color: #fff;
    border-color: #d1d1d1;
    color: #767676;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
    /* Adding hover effect */
    transition: color 0.3s ease, border-color 0.3s ease; /* Smooth transition for color and border */
}

.btn-theme-clicked{
    background-color: #fff;
    border-color: green;
    color: green;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
    /* Adding hover effect */
    transition: color 0.3s ease, border-color 0.3s ease; /* Smooth transition for color and border */
}

.btn-theme:hover {
    color: black; /* This will change the SVG fill to black */
    border-color: black; /* This will change the border to black */
}

.icon-style {
    margin-left: -5px;
    margin-top: 2px;
    fill: currentColor; /* Ensures the SVG color matches the button text color */
}

.card-data{
    display: flex;
}

.card-who-when{
    margin-left: 11px;
    font-size: 14px;
}