.tit,
.des{
    text-align: center;
}

.title{
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

body{
    background-color: rgb(193 4 188);
    color: #fff;
}

.main{
    text-align: -webkit-center;
}

.img{
    margin: 15px;
}

.button{
    color: #fff;
    width: 100px;
}

.button:active{
    color: rgb(193 4 188);
    background-color: #fff;
    transition: ease-in-out 300ms;
}