.bk {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: center
}

/*  
.bk {
    background: url(images/bg.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll
} 
*/

div {
    text-align: center;
}

.logo {
    text-align: center;
    top: 37%;
}

.foto {
    text-align: center;
    top: 45%;
}